/*--GENERALS-*/
#mapcontainer * {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #e7e5df; }

.btn-input {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-shadow: none;
  box-shadow: none;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 0;
  background: rgba(231, 229, 223, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 14px;
  float: right; }
  .btn-input:hover {
    color: #e7e5df;
    background: rgba(0, 0, 0, 0.6); }

.btn-input:focus,
.btn-input:enabled {
  outline: 0; }

#mapid {
  height: 100vh;
  position: relative;
  font-family: "Roboto Condensed";
  font-weight: 300;
  z-index: 0; }

path {
  stroke: #007ba8;
  stroke-width: 1px;
  fill: none; }

.leaflet-container {
  background: #e7e5df; }

.leaflet-tile-pane {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); }

.controls {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 20px; }
  .controls::after, .controls::before {
    content: "";
    display: table; }
  .controls::after {
    clear: both; }

#pixicanvas {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0; }

.leaflet-map-pane svg {
  z-index: 1; }

.leaflet-control-container {
  z-index: 9999;
  position: relative; }

#slider {
  position: fixed;
  bottom: 20px;
  width: 90%;
  margin-left: 5%; }

.resize-drag {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 0;
  padding: 15px;
  margin: 0;
  height: 120px;
  width: 120px;
  /* This makes things *much* easier */
  box-sizing: border-box;
  position: relative; }
  .resize-drag:before {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 6px);
    height: 100%;
    top: 0;
    left: 3px;
    background-color: rgba(255, 255, 255, 0.1); }

.sticks {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .sticks:after, .sticks:before {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 50%;
    top: 25%;
    background-color: #007ba8; }
  .sticks:after {
    left: 0; }
  .sticks:before {
    right: 0; }

.resize-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0%;
  height: 120px;
  background-color: #25282d; }

canvas {
  background: transparent; }

.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 500ms ease; }
  .spinner.stop {
    opacity: 0;
    pointer-events: none; }
    .spinner.stop .double-bounce1,
    .spinner.stop .double-bounce2 {
      -webkit-animation: none;
      animation: none; }

.double-bounce1 {
  background-color: #60dfd7; }

.double-bounce2 {
  background-color: #df60cc; }

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
